<div  class="flex justify-center items-center gap-8 pt-[200px]">

  <div class="flex flex-col justify-center items-center rounded-xl p-4">
    <span class="relative text-9xl font-bold font-slant miami mb-4 font-outline-1 select-none
    before:absolute before:bg-[#0b0f16] before:min-w-[680px] before:min-h-[50px] before:-z-10 before:-left-6 before:bottom-2 before:-skew-x-[20deg]">MiamiTrades</span>
    <span class="text-white text-5xl text-center max-w-[800px] font-bold italic mt-4">Transform Your Financial Future with Our Stocks Trading Platform</span>
    <span class="text-white text-3xl text-center max-w-[700px] font-bold italic mt-4">Join the Revolution Today</span>
  </div>

  <%= render partial: "form_login" %>
  
</div>