<div class="flex gap-8 h-full justify-center items-center">

  <div class="min-w-[700px] h-[500px] rounded-xl">
    <span class="text-9xl font-bold font-slant miami">MiamiTrades</span>
  </div>


  <%= render partial: "form_login" %>
</div>