<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Account Activated</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    /* Email styles */
    body {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      color: #505050;
      font-size: 16px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
    }
    table {
      border-collapse: separate;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      width: 100%;
    }
    table td {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 16px;
      vertical-align: top;
      text-align: left;
      padding: 0;
    }
    /* Header styles */
    .header {
      background-color: #f1f1f1;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 20px 0;
    }
    /* Body styles */
    .body {
      padding: 20px;
    }
    .body p {
      margin: 0 0 20px;
    }
    /* Footer styles */
    .footer {
      background-color: #f1f1f1;
      font-size: 12px;
      text-align: center;
      padding: 20px 0;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <td>
        <div class="header">Account Activated</div>
        <div class="body">
          <p>Dear Trader,</p>
          <p>We are pleased to inform you that your account on our website has been activated. You can now log in and start using our services.</p>
          <p>If you have any questions or need further assistance, please feel free to contact us at miamitrades.com.ph.</p>
          <p>Thank you for joining our community!</p>
          <p>Best regards,</p>
          <p>The MiamiTrades Team</p>
        </div>
        <div class="footer">
          <p>This is an automated email. Please do not reply to this message.</p>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
