<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Account Activation Required</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    body {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      color: #505050;
      font-size: 16px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
    }
    table {
      border-collapse: separate;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      width: 100%;
    }
    table td {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 16px;
      vertical-align: top;
      text-align: left;
      padding: 0;
    }
    .header {
      background-color: #f1f1f1;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 20px 0;
    }
    .body {
      padding: 20px;
    }
    .body p {
      margin: 0 0 20px;
    }
    .footer {
      background-color: #f1f1f1;
      font-size: 12px;
      text-align: center;
      padding: 20px 0;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <td>
        <div class="header">Account Activation Required</div>
        <div class="body">
          <p>Hi,</p>
          <p>Thank you for applying for an account on our website! We are excited to have you join our community.</p>
          <p>However, we need to inform you that your account requires activation by an administrator before you can start using it. We will notify you by email as soon as your account has been activated.</p>
          <p>If you have any questions or concerns in the meantime, please do not hesitate to contact us at miamitrades.com.ph.</p>
          <p>Thank you for your patience and understanding.</p>
          <p>Best regards,</p>
          <p>The MiamiTrades Team</p>
        </div>
        <div class="footer">
          <p>This is an automated email. Please do not reply to this message.</p>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
