<div class="searchbar">
  <form action="">
    <input type="text" class="h-[30px] min-w-[500px]">
    <button class="h-[30px] w-[40px] bg-slate-500"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
  </form>

  <span class="flex gap-2 text-white ml-auto justify-center items-center">
    <div class="bg-slate-500 bg-opacity-30 rounded-full px-2">
      <span><%=@current_user.email%></span>  
    </div>

    <div class="h-[30px] w-[30px] flex justify-center items-center rounded-full border-white border-[1px]">
      <i class="fa-solid fa-user "></i>
    </div>

    <div class="cursor-pointer">
      <i class="fa-solid fa-sort-down"></i>
    </div>
    
  </span>
</div>