<%= turbo_stream.prepend "sidepanel" do %>
  <span class="text-xl font-bold mb-4">Sidepanel</span>
  <div class="flex gap-2 items-center">
    <span class="w-[20px] text-center"><i class="fa-solid fa-house-chimney"></i></i></span>
    <%= button_to "Home", admin_path %>
  </div>

  <div class="flex gap-2">
    <span class="w-[20px]"><i class="fa-solid fa-user-group"></i></span>
    <%= button_to "Users", admin_userpage_path %>
  </div>

  <div class="flex gap-2 items-center">
    <span class="w-[20px]"><i class="fa-solid fa-envelope"></i></i></span>
    <span>Messages</span>
  </div>


  <!-- temporary hidden -->
  <div class="mt-auto hidden">
    <input type="checkbox" id="sidepanel-2" class="peer/sidepanel-2">
    <label for="sidepanel-2" class="peer/sidepanel-2 select-none cursor-pointer
    text-white ">
      Minimize Menu
    </label>
    <span class="peer-checked/sidepanel-2:hidden block">to be hidden</span>
  </div>
<% end %>