<%= turbo_stream.update "sidepanel" do %>
  <span class="text-white">X this is sidepanel</span>
  <span class="text-white">X Notification</span>
  <span class="text-white">X Traders</span>
  <span class="text-white mt-auto">Minimize Menu</span>
<% end %>