<%= turbo_stream.prepend "sidepanel" do %>
  <span class="text-white text-xl font-bold mb-4">Sidepanel</span>
  <div class="flex gap-2 items-center">
    <span class="w-[20px] text-center"><i class="fa-solid fa-bell"></i></span>
    <span class="text-white">Notification</span>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex gap-2 items-center">
      <span class="w-[20px]"><i class="fa-sharp fa-solid fa-users"></i></span>
      <span class="text-white">Traders</span>
    </div>
    <ul>
      <li>
        <span class="w-[20px]"><i class="fa-sharp fa-solid fa-users"></i></span>
        <span class="text-white">Pending</span>
      </li>
    </ul>
  </div>

  <div class="flex gap-2 items-center">
    <span class="w-[20px]"><i class="fa-solid fa-envelope"></i></i></span>
    <span class="text-white">Messages</span>
  </div>


  <!-- temporary hidden -->
  <div class="mt-auto hidden">
    <input type="checkbox" id="sidepanel-2" class="peer/sidepanel-2">
    <label for="sidepanel-2" class="peer/sidepanel-2 select-none cursor-pointer
    text-white ">
      Minimize Menu
    </label>
    <span class="peer-checked/sidepanel-2:hidden block">to be hidden</span>
  </div>
<% end %>