<%= turbo_stream.prepend "sidepanel" do %>
  <span class="text-white text-xl font-bold mb-4">Sidepanel</span>
  <div class="flex gap-2 items-center">
    <span class="w-[20px] text-center"><i class="fa-solid fa-bell"></i></span>
    <span class="text-white">Notification</span>
  </div>

  <div class="flex gap-2 items-center">
    <span class="w-[20px]"><i class="fa-sharp fa-solid fa-users"></i></span>
    <span class="text-white">Traders</span>
  </div>
  
  <span class="text-white mt-auto">Minimize Menu</span>
<% end %>