<div class="flex h-[100%] w-[100%]">
  
  <div id="sidepanel" class="flex flex-col bg-[#0b0f16] text-white text-lg
    p-4 min-w-[220px]">
    <%= render partial: "sidepanel" %>
  </div>

  <%= turbo_frame_tag "dashboard", class: "pt-4 w-full px-10" do %>
    <%= render "default" %>
  <% end %>    
  
</div>