<div class="flex h-[100%] w-[100%]">
  <%= button_to raw('<i class="fa-solid fa-door-open"></i>'), signout_path, class: "text-white h-[40px] w-[40px] bg-[#0b0f16]" %>

  <div id="sidepanel" class="flex flex-col bg-indigo-500 bg-opacity-20 text-white text-lg
    p-4 min-w-[220px]">
    <%= render partial: "sidepanel" %>
  </div>

  <%= turbo_frame_tag "dashboard", class: "pt-4 w-full px-10" do %>
    <%= render "default" %>
  <% end %>    
  
</div>