<%= render "navbar" %>

<div class="flex flex-col items-center pt-8">
  <div class="flex mb-8">
    <div id="buysell">
      <%= render "home/user/form_buysell" %>
    </div>

    <div id="candlestick" class="bg-[#0b0f16] rounded-xl p-2">
      <%= render "home/components/candlestick_chart" %>
    </div>
  </div>
  
  <div class="flex flex-col gap-[2px]">
    <% @paginated_items.each do |item| %>
      <%= render "home/components/paginated_frame", item: item %>
    <% end %>
  </div>
</div>

