<div class="flex flex-col justify-center">

  <span>Welcome to Stock APP</span>

  <%= button_to "Next", sample_page_path, class: "btn-primary" %>
  <%= button_to "Logout", signout_path, class: "btn-primary" %>

  <div id="container">
    
  </div>

</div>