
  <div>
    <div class="table-header">
      <span class="mx-2"></span>
      <span class="min-w-[250px]">Name</span>
      <span class="flex-1">Email</span>
      <span class="flex-1">Status</span>
      <span class="flex-1">Date</span>
      <span class="text-center w-[155px]">Action</span>
    </div>

    <% @user.each_with_index do |user, index|%>
      <%= render "admins/users/users", user: user, index: index %>
    <% end %>
  </div>

